*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #020c17;
  --purple-color: #6f42c1;
  --purple-color: #60498b;
  --lightPurple-color: #f76be9;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --white-color: #fff;
  --transparent-color: transparent;
  --font-family: "JetBrains Mono", monospace;
}
body {
  background-color: var(--primary-color);
  font-family: var(--font-family) !important;
}
input,textarea,select {
  width: 100%;
  padding: 8px 16px !important;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: 1.3px solid #494949;
  background-color: transparent;
  box-shadow: rgba(41, 39, 39, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* box-shadow:  rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  color: #e0e0e0 !important;
}
input::placeholder,textarea::placeholder {
  color: #817777 !important;
}
input:focus,textarea:focus {
  outline: none;
  border: 1.6px solid #565252;
  box-shadow: rgba(45, 42, 42, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.3s ease-in-out;
  color: #e0e0e0 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #e0e0e0;
  background-color: transparent;
  color: #e0e0e0 !important;
}
select option{
  background-color: var(--primary-color);
  border: 1.3px solid #494949;
  color: #e0e0e0 !important;
}
.date-picker::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}
.work-card {
  transition: background-color 0.3s ease;
}

.work-card:hover .icon-container {
  background-color: #4b4b4b;
}

.icon-container {
  transition: background-color 0.3s ease;
}
